{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "strict": ["error", "never"]
  },
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint/eslint-plugin"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier/@typescript-eslint"
      ],
      "rules": {
        // indeciso com esta rule. off/on
        "@typescript-eslint/explicit-function-return-type": "off",

        "no-restricted-imports": [
          "error",
          {
            // Use absolute import #user-module instead of import '../../user-module'
            "paths": ["user-module"],
            "patterns": ["**/user-module"]
          }
        ]
      }
    }
  ]
}
